{{#each blogs as |blog|}}
  <div class="blog-container">

    <div class="blog-profile-pic-frame shadow-sm"><img class="blog-profile-pic" src="./assets/images/default_profile.png"/></div>

    <div data-id='{{blog._id}}' class="blog-post shadow">
      <div class="blog-post-header">
        @{{blog.owner.username}}
        <div>
          <button class="btn blog-edit-btn" type="button" data-toggle="modal" data-target="#update-blog"><img class="icon-style" src="./assets/images/edit.png" alt="edit button"/></button>
          <button class="btn blog-delete-btn" type="button" data-toggle="modal" data-target="#delete-blog"><img class="icon-style" src="./assets/images/delete.png" alt="delete button"/></button>
        </div>
      </div>
      <h3 class="blog-post-title">{{blog.title}}</h3>
      <p class="blog-post-body">{{blog.body}}</p>
      <div class="expand-wrapper"><button class="expand-button"></button></div>
      <div class="blog-post-footer">Created on: {{formatDate blog.createdAt}}</div>
    </div>

  </div>
{{/each}}
